<div class="page page-table" data-ng-controller="pushToRelationalDBoneTimeCtrl">

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-save"></span> One Time Data Pust to XXX</strong>
		</div>
		<div class="panel-body">
			<table style="width: 100%;">
				<tr>
					<td style="width: 25%; vertical-align: top;">
					
						<div ng-class="stepOneBody ? 'sal-workflow-step-selected' : 'sal-workflow-step'">
							1. Select Data Source Details
						</div>
						<div ng-class="stepTwoBody ? 'sal-workflow-step-selected' : 'sal-workflow-step'">
							2. Select Destination
						</div>
						<div ng-class="stepThreeBody ? 'sal-workflow-step-selected' : 'sal-workflow-step'">
							3. Track Progress
						</div>
					</td>
					<td style="background: #eee; padding: 10px;">
						<div ng-show="stepOneBody">
							<form role="form">
							<table>
								<tr>
									<td class="sal-layout-label">
										Data Source:
									</td>
									<td class="sal-layout-element">
										<span class="ui-select">
											<select id="dataSourceSelected" ng-model="form.dataSource" ng-options="opt for opt in options.ds" ng-change="setEnvOptions()"></select>
										</span>
									</td>
									<td class="sal-layout-label">
										Environment:
									</td>
									<td class="sal-layout-element">
										<span class="ui-select">
											<select id="envSelected" ng-model="form.env" ng-options="opt for opt in options.env"></select>
										</span>
									</td>
								</tr>
								<tr>
									<td class="sal-layout-label">
										From:
									</td>
									<td class="sal-layout-element">
										<div class="input-group ui-datepicker">
											<input type="text" id="fromDate" class="form-control"
												uib-datepicker-popup="yyyy-MM-dd" ng-model="form.fromDate"
												is-open="form.fromDate.opened" min-date="minDate" max-date="maxDate"
												datepicker-options="dateOptions"
												date-disabled="disabled(date, mode)" ng-required="true"
												close-text="Close" alt-input-formats="altInputFormats" /> <span
												class="input-group-addon" ng-click="fromDateOpen()"><i
												class="ti-calendar"></i></span>
										</div>
									</td>
									<td class="sal-layout-label">
										To:
									</td>
									<td class="sal-layout-element">
										<div class="input-group ui-datepicker">
											<input type="text" id="toDate" class="form-control"
												uib-datepicker-popup="yyyy-MM-dd" ng-model="form.toDate"
												is-open="form.toDate.opened" min-date="minDate" max-date="maxDate"
												datepicker-options="dateOptions"
												date-disabled="disabled(date, mode)" ng-required="true"
												close-text="Close" alt-input-formats="altInputFormats" /> <span
												class="input-group-addon" ng-click="toDateOpen()"><i
												class="ti-calendar"></i></span>
										</div>
									</td>
								</tr>
								<tr>
									<td class="sal-layout-label">
										Event Types:
									</td>
									<td class="sal-layout-element">
										<table>
											<tr>
												<td style="text-align: right; font-weight: bold;">
													ACCOUNTS
												</td>
												<td style="padding-left: 5px;">
													<input type="checkbox" ng-model="form.selectedEvents.accounts" />
												</td>
												<td style="text-align: right; font-weight: bold;">
													SESSIONS
												</td>
												<td style="padding-left: 5px;">
													<input type="checkbox" ng-model="form.selectedEvents.sessions" />
												</td>
											</tr>
											<tr>
												<td style="text-align: right; font-weight: bold; padding-top: 10px;">
													ITEMS
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.items" />
												</td>
												<td style="text-align: right; font-weight: bold; padding-top: 10px;">
													SEARCHES
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.searches" />
												</td>
											</tr>
											<tr>
												<td style="text-align: right; font-weight: bold; padding-top: 10px;">
													MESSAGES
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.messages" />
												</td>
												<td style="text-align: right; font-weight: bold; padding-top: 10px; padding-left:15px;">
													PERMISSIONS
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.permissions"  />
												</td>
											</tr>
											<tr>
												<td style="text-align: right; font-weight: bold; padding-top: 10px;">
													PING
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.ping"  />
												</td>
												<td style="text-align: right; font-weight: bold; padding-top: 10px;">
													WEB
												</td>
												<td style="padding-left: 5px; padding-top: 10px;">
													<input type="checkbox" ng-model="form.selectedEvents.web"  />
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr><td colspan="4" style="height: 75px;">&nbsp;</td></tr>
								<tr>
									<td>
										&nbsp;
									</td>
									<td colspan=3>
										<button type="button" class="btn btn-primary btn-w-md" ng-click="nextStep(2)">Next Step</button>
									</td>
								</tr>
							</table>
							</form>
						</div>
						<div ng-show="stepTwoBody" style="vertical-align: top;">
							<form role="form">
							<table>
								<tr>
									<td class="sal-layout-label">
										Pick Schema To Push To:
									</td>
									<td width="75%">
										????
									</td>
								</tr>
								<tr>
									<td class="sal-layout-label">
										&nbsp;
									</td>
									<td class="sal-layout-element">
										<button type="button" class="btn btn-primary btn-w-md" ng-click="nextStep(1)">Previous Step</button>
										<button type="button" class="btn btn-primary btn-w-md" ng-click="nextStep(3); execute()">Load Date</button>
									</td>
								</tr>
							</table>
							</form>
						</div>
						<div ng-show="stepThreeBody">
							Define Stuff Again
							<button type="button" class="btn btn-primary btn-w-md" ng-click="nextStep(1)">New One Time Load</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>